/* .wrapper .links {
  max-height: 0;
  transition: max-height 0.25s ease-in-out;
  overflow: hidden;
}

.wrapper.expand .links {
  max-height: 140px;
} */

.bg {
  background-image: linear-gradient(to right, #9c55a3 20%, #edf3d0);
}

.header-link {
  transition: all 0.3s ease-in-out;
}

.header-link:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}

.navbar {
  top: 0px;
  transition: top 0.6s;
}

.navbarHidden {
  top: -92px;
}
